#goals-section{
  position: relative;
  margin-bottom: 17rem;
  padding-bottom: 15%;
  color: var(--secondary-color);
}

#goals-section .green-background{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
        300deg,
        #00FF77 0%,
        #96FFC7 61%,
        #17CC6B 75%,
        #17CC6B 82%,
        #68FFAE 87%,
        #13BB61 93%,
        #13BB61 100%
    );
  z-index: -1;
}

#goals-section .img-info-container{
  display: flex;
  flex-direction: column;
  padding:0 7%;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

#goals-section .pig-image {
  width: 100%;
  height: clamp(270px, 40vw, 420px);
}

#goals-section .info{
  padding:0 1rem;
}

#goals-section .info .heading{
  font-size: var(--goals-heading-fSize);
  line-height: 1.4em;
  font-weight: 900;
  color: #1E1E1E;
  margin-bottom: 0.6rem;
}

#goals-section .info .heading .sub-heading{
  font-size: var(--goals-subheading-fSize);
  display: block;
}

#goals-section .info .details{
  font-size: var(--goals-details-fSize);
  text-align: justify;
}

#goals-section .goals-card-container{
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#goals-section .goals-card-container .card{
  width: clamp(90px, 21.5vw, 309px);
}

#goals-section .goals-card-container .card .icon-container{
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  height: clamp(90px, 23vw, 331px);
  background-color: #3FFF98;
  box-shadow: 0px 0px 15px #9b9b9b;
  margin-bottom: 0.5rem;
}

#goals-section .goals-card-container .card .icon-container .icon {
  width: clamp(58.25px, 10vw, 200px);
  height: clamp(54.38px, 10vw, 200px);
}

#goals-section .goals-card-container .card .label{
  font-size: var(--goals-cardLabel-fSize);
  text-align: center;
  font-weight: 600;
}


@media(width >= 37.5rem /*600px*/){
  #goals-section .info .heading{
    line-height: 1.3em;
  }
}


@media(width >= 50rem /*800px*/){
  #goals-section{
    margin-bottom: 28rem;
    padding-bottom: 10%;
  }

  #goals-section .img-info-container{
    flex-direction: row;
    gap: 7%;
    align-items: center;
    padding:0 7%;
    padding-top: 4rem;
    padding-bottom: 7rem;
  }

  #goals-section .pig-image {
    width: 50%;
    height: clamp(270px, 30vw, 420px);
  }

  #goals-section .info{
    padding:0;
    width: 33rem;
    text-align: left;
  }

  #goals-section .info .heading{
    line-height: 0.9em;
  }

  #goals-section .info .details{
    font-size: var(--goals-details-fSize);
    text-align: left;
  }

  #goals-section .goals-card-container{
    justify-content: center;
    gap: 6rem;
  }
}


@media(width >= 85.75 /*1372px*/){
  #goals-section .info .heading .sub-heading{
    display: inline;
    margin-left: 0.2rem;
  }
}